header {
  background-color: #5d0e41;
  height: 200px;
}

.logoI {
  width: 250px;
  height: 200px;
}

.barraBusqueda {
  position: fixed;
  left: 500px;
  transform: translateY(-100px);

  display: flex;
  background-color: transparent;
  border-bottom: 1px white;
  padding: 10px;
}
