body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#map-container {
  height: 100%; 
  width: 100%;
}

#map {
  bottom: 80%;
  left: 30%;
  height: 80%; /* El mapa ocupa el 100% menos el 20% ocupado por #busqueda-container */
  width: 70%; /* El mapa ocupa el 70% menos el 30% de margen izquierdo */
}

#busqueda-container {
  position: absolute;
  top: 0;
  margin-left: 30%;
  padding-bottom: 20px;
  height: 20%;
  width: 70%;
}

#panel-busqueda{
  background: #0281b0;
  background: -moz-linear-gradient(top, #1399cb, #128cba 50%, #0188bb 51%, #007caa);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #1499ca), color-stop(.5, #128cba), color-stop(.5, #0188bb), to(#007caa)); 
  border: 1px solid #57a9cf;
  border-top: 1px solid #cedee4;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel-busqueda .barra-de-busqueda {
  background-color: blanchedalmond;
  text-shadow: #3b3b50;
  font-style: italic;
  font-size: x-large;
  padding: 5px 10px; /* Ajusta el espacio alrededor del texto */
  border-radius: 10px; /* Añade bordes redondeados */
}

#registro-container{
  height: 100%;
  width: 30%;
}

#panel-registro{
  display: flex;
  background-color: #5858b1;
  height: 100%;
  width: 100%;
}

#panel-registro .titulo-panel-registro-colaborador {
  text-align: center;
  padding-top: 30px;
  background-color: rgb(172, 48, 48);
  font-style: italic;
  font-size: x-large;
  color:#19191a;
  width: 100%;
  height: 10%;
  user-select: none;
}

#formulario-colaborador {
  position: absolute;
  margin-top: 10%;
  width: 80%;
  height: 90%;
  color: #bd9d61;
  font-style: italic;
  font-size: medium;
  user-select: none;
}

#formulario-colaborador label {
  display: flex;
  margin-bottom: 1px;
  margin-left: 1%;
  max-width: 400px;
  user-select: none;
}

#formulario-colaborador input[type="text"],
#formulario-colaborador input[type="email"],
#formulario-colaborador input[type="tel"],
#formulario-colaborador input[type="time"],
#formulario-colaborador select {
  margin-left: 1%;
  width: 100%;
  padding: 2px;
  margin-bottom: 5px;
  max-width: 200px;
}

#formulario-colaborador button[type="button"] {
  margin-left: 2%;
  padding: 7px;
}

#formulario-colaborador input[type="submit"] {
  margin-left: 8%;
  margin-top: 5%;
  width: 20%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

#registro {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del texto */
  font-size: 24px;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 0 10px #cedee4;
  text-align: center;
  z-index: 1000; /* Para asegurarse de que esté por encima de otros elementos */
  display: none; /* Oculto por defecto */
  margin-top: 20px;
}
