body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
}

#map-container{ /* contenedor del mapa */
  flex: 1;
  height: 100%;
  width: 100%;
}

#map { /* ubicacion del mapa en la pantalla */
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 70%;
}

#busqueda-container { /* espacio de la pagina principal usado para la busqueda*/
  height: 20%;
  width: 100%;
}

#panel-busqueda{ /* seccion dedicada al cuadro de busqueda */
  background-color: #9b9bd3;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#panel-busqueda .barra-de-busqueda { /* datos de la barrita de busqueda */
  background-color: blanchedalmond;
  text-shadow: #3b3b50;
  font-style: italic;
  font-size: x-large;
  padding: 5px 10px; /* ajusta el espacio alrededor del texto */
  border-radius: 10px; /* añade bordes redondeados */
  user-select: none;
}

#registro-container{
  display: flex;
  height: 80%;  /* por los 80 de alto del mapa */
  width: 30%;   /* por los 30 de ancho del mapa */
}

#panel-registro{
  padding-top: 1px;
  background-color: #5858b1;
  height: 100%;
  width: 100%;
}

#panel-registro .titulo-panel-registro-colaborador {
  background-color: rgb(172, 48, 48);
  font-style: italic;
  color:#19191a;
  width: 85%;
  padding: 10px 20px; /* ajusta el espacio alrededor del texto */
  border-radius: 10px; /* añade bordes redondeados */
  user-select: none; /* por error del navegador, aparece para escribir en lugares que no deberia */
}

#formulario-container {
  height: 100%;
  width: 100%;
}

#formulario-registro {
  width: 100%; /* Ancho del formulario */
  max-width: 150px; /* Ancho máximo para asegurar que el formulario no se extienda demasiado */
}

/* Ajustes de estilo para los campos del formulario */
#formulario-registro label {
  margin-bottom: 10px;
}

#formulario-registro input,
#formulario-registro select,
#formulario-registro textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#formulario-registro button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#formulario-registro button:hover {
  background-color: #45a049;
}